@model PointRecord.Models.Sector.Sectors
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <form asp-controller="sectors" method="post" asp-action="add">
        <h1 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
            Cadastro de Setores
        </h1><br />

        <div class="row">
            <div class="col-md-6">
                <label>Name:</label>
                <input type="text" class="form-control" asp-for="name" required /><br />
            </div>
        </div>

        <div class="row">
            <label>Ativo: </label>
            <input type="checkbox" asp-for="active" /><br />
            <div class="col-md-12">
            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="width:100%;">salvar</button>

    </form>
</section>