@model PointRecord.Models.Employees.Employeees
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>

    @if (Model.Sector.Count > 0)
    {
        <form asp-controller="employees" method="post" asp-action="add">
            <div class="row">
                <div class="col-md-4">
                    <label>Name:</label>
                    <input type="text" class="form-control" asp-for="Name" required />
                </div>
                <div class="col-md-4">
                    <label>CPF:</label>
                    <input type="text" class="form-control" asp-for="CPF" id="cpf" required/>
                </div>
                <div class="col-md-4">

                    <label>CEP:</label>
                    <input type="text" class="form-control" asp-for="CEP" id="cep" onblur="pesquisacep(this.value);"  required/>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Telefone:</label>
                    <input type="text" class="form-control" asp-for="Telephone" id="tel" required />
                </div>

                <div class="col-md-4">
                    <label>Endereço:</label>
                    <input type="text" class="form-control" asp-for="_Address" id="rua" required/>
                </div>

                <div class="col-md-4">
                    <label>Cidade:</label>
                    <input type="text" class="form-control" asp-for="City" id="cidade" required />
                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>Estado:</label>
                    <input type="text" class="form-control" asp-for="_State" id="uf" required/>
                </div>

                <div class="col-md-4">
                    <label>Bairro:</label>
                    <input type="text" class="form-control" asp-for="neighborhood" id="bairro" required/>
                </div>

                <div class="col-md-4">
                    <label>Data Nascimento:</label>
                    <input type="text" class="form-control" asp-for="Datebirth" id="date" required/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Data Cadastro:</label>
                    <input type="text" class="form-control" asp-for="Dateregister" required/>
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(m => m.SectorId, "Setor")
                    @Html.DropDownListFor(m => m.SectorId, new SelectList(Model.Sector, "Id", "Name", Model.Sector.First().Id), "-- Selecione o Setor --", new { @class = "form-control", @id = "sector", @required = "true", @style = "padding-top: 3px;" })<br />
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="width:100%;">salvar</button>

        </form>
    }
    else
    {
        <h2 class="text-center text-danger"><b>Erro - Nenhum setor encontrado</b></h2><br />
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center alert alert-danger">@ViewBag.sector</h3>
            </div>
        </div>
    }

</section>