@model PointRecord.Models.StaffPoint.StaffPoint
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>

    @if (Model.EmployeesList.Count > 0)
    {
    <form asp-controller="staffpoint" method="post" asp-action="update">
        <input type="hidden" asp-for="Id" />
        <h3 class="text-center">Registro de Ponto</h3><br />
        <h5 class="text-right"> Horas de Trabalho: <b class="text-danger">@Model.Hoursday</b></h5>
        <div class="row">
            <div class="col-md-12">
                <label>Data Atual:</label>
                <input type="text" class="form-control" asp-for="DateCurrent" /><br />
            </div>
        </div>
        <h5 class="text-center">Manhã</h5><br />
        <div class="row">
            <div class="col-md-6">
                <label>Data Inicial:</label>
                <input type="text" class="form-control" asp-for="StartTime1" />
            </div>
            <div class="col-md-6">
                <label>Data Final:</label>
                <input type="text" class="form-control" asp-for="EndTime1" /><br />
            </div>
        </div>

        <h5 class="text-center">Tarde</h5><br />
        <div class="row">
            <div class="col-md-6">
                <label>Data Inicial:</label>
                <input type="text" class="form-control" asp-for="StartTime2" />
            </div>
            <div class="col-md-6">
                <label>Data Final:</label>
                <input type="text" class="form-control" asp-for="EndTime2" /><br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.EmployeesId, "Funcionário:")
                @Html.DropDownListFor(m => m.EmployeesId, new SelectList(Model.EmployeesList, "Id", "Name", Model.EmployeesList.First().Id), "-- Selecione o Funcionário --", new { @class = "form-control", @id = "employee", @required = "true", @style = "padding-top: 3px;" })<br /><br />
            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="width:50%; margin-left:25%;">salvar</button>

    </form>
    }
    else
    {
        <h2 class="text-center text-danger"><b>Erro - Nenhum funcionário encontrado</b></h2><br />
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center alert alert-danger">@ViewBag.employee</h3>
            </div>
        </div>
    }

</section>