@model PointRecord.Models.StaffPoint.StaffPoints
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>

    @if (Model.EmployeesList.Count > 0)
    {
    <form asp-controller="staffpoint" method="post" asp-action="update">
        <input type="hidden" asp-for="id" />
        <h3 class="text-center">Registro de Ponto</h3><br />
        <h5 class="text-right"> Horas de Trabalho: <b class="text-danger">@Model.hours_day</b></h5>
        <div class="row">
            <div class="col-md-12">
                <label>Data Atual:</label>
                <input type="text" class="form-control" asp-for="date_current" readonly/><br />
            </div>
        </div>
        <h5 class="text-center">Manhã</h5><br />
        <div class="row">
            <div class="col-md-6">
                <label>Data Inicial:</label>
                <input type="time" class="form-control" asp-for="start_time1" required/>
            </div>
            <div class="col-md-6">
                <label>Data Final:</label>
                <input type="time" class="form-control" asp-for="end_time1" required/><br />
            </div>
        </div>

        <h5 class="text-center">Tarde</h5><br />
        <div class="row">
            <div class="col-md-6">
                <label>Data Inicial:</label>
                <input type="time" class="form-control" asp-for="start_time2" required/>
            </div>
            <div class="col-md-6">
                <label>Data Final:</label>
                <input type="time" class="form-control" asp-for="end_time2" required/><br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.employeesid, "Funcionário:")
                @Html.DropDownListFor(m => m.employeesid, new SelectList(Model.EmployeesList, "id", "name", Model.EmployeesList.First().id), "-- Selecione o Funcionário --", new { @class = "form-control", @id = "employee", @required = "true", @style = "padding-top: 3px;" })<br /><br />
            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="width:50%; margin-left:25%;">salvar</button>

    </form>
    }
    else
    {
        <h2 class="text-center text-danger"><b>Erro - Nenhum funcionário encontrado</b></h2><br />
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center alert alert-danger">@ViewBag.employee</h3>
            </div>
        </div>
    }

</section>