@model List<PointRecord.Models.StaffPoint.StaffPoints>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    Lista de Pontos
</h1><br />

<a asp-controller="staffpoint" asp-action="add" class="btn btn-primary btn-lg pull-right"><i class="fas fa-plus-circle"></i> Novo</a><br /><br />

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th scope="col">Id</th>

            <th scope="col">Ações</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.id</td>
                <td>
                    <a asp-controller="staffpoint" asp-action="update" asp-route-id="@item.id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                    <a class="btnRemover btn btn-danger" id="@item.id"><i class="fas fa-trash-alt text-light"></i></a>
                </td>
            </tr>
        </tbody>
    }
</table>
@section Scripts {
    <environment names="Development">
        <script src="~/js/Controllers/StaffPointController.js"></script>
    </environment>

    <script type="text/javascript">
        let ctrl = new StaffPointController();

        $(document).ready(function () {
            ctrl.StartStaffPoint();
        });
    </script>
}